@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;/* height and overflow hidden not set bcse we want a scrollbar*/
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);/* setting to 400px it will move the boxes way off the screeen yo right*/
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
  /* this prop is applied so as to get the image coming from opp sides and place it at center*/
/*all even will be on left side and odd on right side hidden*/
/* and when we want they should come in we dyanamically add class show and they will come from diff side*/
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}